fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv

sqlalchemy
asyncpg
alembic
psycopg2-binary

redis

httpx
prometheus-fastapi-instrumentator

numpy
pandas

python-multipart

cryptography
